<% layout('./layouts/boilerplate') %>
<div class="row mb-3">
    <div class="col-6 offset-3">
        <h1 class="text-center mb-5">New Campground</h1>
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="campground[title]" class="form-control" required>
                <div class="valid-feedback">Great name!</div>
                <div class="invalid-feedback">Name required!</div>
            </div>
            <div class="form-group">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="campground[location]" class="form-control" required>
                <div class="valid-feedback">Interesting location!</div>
                <div class="invalid-feedback">Please input location!</div>
            </div>
            <div>
                <label for="campground[price]" class="form-label" style="display:block">Price</label>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" min="0" step="0.01" name="campground[price]" class="form-control" required>
                <div class="valid-feedback">Price checks out!</div>
                <div class="invalid-feedback">Please enter correct price!</div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" name="images" id="campground[images]"
                    aria-describedby="inputGroupFileAddon01" multiple>
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>




<!-- 
            <div class="form-group">
                <input type="file" name="image" id="campground[images]" multiple> -->



                <!-- <div class="rounded img-thumbnail" style="width: 100%;max-height: 40%;">
                    <img id="campImg" style="width:100%">
                </div>
                <label for="newDetails[image]" class="form-label">Image</label>
                <input id="imglink" type="text" name="campground[image]" class="form-control" required>
                <div class="valid-feedback">Image loaded!</div>
                <div class="invalid-feedback">Enter image!</div> -->
            <!-- </div> -->
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" name="campground[description]" rows="5" style="resize: none;"
                    required></textarea>
                <div class="valid-feedback">Fine description!</div>
                <div class="invalid-feedback">Please enter camp description!</div>
            </div>
            <button type="submit" class="btn btn-info">Submit new camp</button>
        </form>
    </div>
</div>


<script src="/js/formValidation.js"></script>