<% layout('./layouts/boilerplate') %>
<div class="container justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mt-0">Edit user account</h5>
                    <form action="/users/<%= user._id %>?_method=PUT" method="POST" class="validated-form" novalidate>
                        <div class="form-group">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" name="username" class="form-control" value="<%= user.username %>" required>
                            <div class="valid-feedback">Username valid</div>
                            <div class="invalid-feedback">Please enter valid username</div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" value="<%= user.email %>" required>
                            <div class="valid-feedback">Email accepted!</div>
                            <div class="invalid-feedback">Please enter email</div>
                        </div>
                        <div class="form-group">
                            <label for="old_password" class="form-label">Old password</label>
                            <input type="password" name="old_password" class="form-control" placeholder="Leave empty if you dont want to change password">
                            <div class="valid-feedback">Password accepted!</div>
                            <div class="invalid-feedback">Please enter password</div>
                        </div>
                        <div class="form-group">
                            <label for="new_password" class="form-label">New password</label>
                            <input type="password" name="new_password" class="form-control" placeholder="Leave empty if you dont want to change password">
                            <div class="valid-feedback">Password accepted!</div>
                            <div class="invalid-feedback">Please enter password</div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success">Submit changes</button>
                            <a href="/users/<%= user._id %>/changepassword" class="btn btn-danger">Change password</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/formValidation.js"></script>